* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

button,
a {
  cursor: pointer;
}

.main-wrapper {
  margin: 20px auto;
  width: 500px;

  .title {
    color: #555;
    font-size: 16px;
  }

  .comment-form {
    align-items: center;
    display: flex;

    .input-wrapper {
      flex-grow: 1;

      .input {
        padding: 10px;
        width: 100%;
      }

      .error {
        color: red;
      }
    }
  }
}
